@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-4.1/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Display';
    src: url('../assets/fonts/Inter-4.1/InterDisplay-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { font-size: 16px;}

body {
    margin: 0;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background: radial-gradient(circle, rgb(51, 51, 51) 0%, rgba(25, 26, 27, 1) 35%, rgba(0, 0, 0, 1) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1rem;
    line-height: 1.6;

}

h1 {font-family: 'Inter-Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: clamp(1.6rem, 5vw, 2.5rem); font-weight: 800;}
h2 {font-family: 'Inter-Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: clamp(1.1, 5vw, 2rem); font-weight: 700;}
h3 {font-family: 'Inter-Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: clamp(1rem, 5vw, 1.5rem); font-weight: 600;}
p {font-family: 'Inter-Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif; font-size: 1rem; font-weight: 400;}