.cta-menu {
    display: block;
    text-align: center;
    width: 100%;
    padding: 1.5rem 0rem;
    color: white;
    font-weight: 800;
    transition: background-color 0.25 ease;
}

.cta-menu:active, .cta:active {
    background-color: white;
    color: black;
}

.cta {
    padding: 1rem;
    background: rgba(41, 41, 41, 0.5);
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 5px;
}

a.cta, a.cta-menu {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: inherit;
    outline: none;
}