.contact-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    padding: 1.5rem;
}

.contact-info p {
    text-align: center;
}

.contact-info ul li{
   padding: 0.5rem;
}

.form_isHidden {
    display: none;
}

.form_isActive {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1002;
    background: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
}

.close_btn {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    font-size: 1.5rem;
    line-height: 1;
}

.form_layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 1rem;
    padding: 2rem;
    max-width: 100vw;
    width: 90%;
    height: 80%;
}

.form_layout label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0.5rem;
}

.form_layout input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    width: 80%;
    height: 5vh;
}

.form_layout textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    width: 80%;
    height: 10vh;
}

@media (min-width: 768px) {
    .form_layout {
        width: 60%;
    }
}
