body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

.header {
    max-width: 100%;
    box-shadow: 0 2px 20px rgba(24, 24, 24, 0.95);
}

.logo img {
    display: block;
    height: 60px;
    width: auto;
  }

  .burger {
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1100;
  }
  
  .burger span {
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 2px;
    transition: 0.3s;
  }
  
  /* animacja X */
  .burger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .burger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  /* menu */
  .mobile-menu {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }
  
  .mobile-menu.active {
    transform: translateX(0);
  }
  
  .mobile-menu a {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }

  .footer {
    padding-bottom: 1rem;
    background: rgba(20, 20, 20, 0.95);
  }

  .footer-col {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 1.5rem 1.5rem;
    gap: 10px;
  }

  .footer-col h4 {
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .footer-col a {
    color: #aaa;
    text-decoration: none;
  }

  .footer-col p {
    margin: 0.4rem 0;
    line-height: 1.5;
  }

  .footer-col a:hover {
    color:#00e1ff
  }

  .footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-col li {
    margin: 0.4rem 0;
  }

  .footer-notice {
    justify-items: center;
    padding: 1rem 1rem;
  }

  @media (min-width: 768px) {
    .footer-col {
      grid-template-columns: repeat(3, 1fr);
    }
  }