:root {
    --header-h: 64px;
  }

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

.header {
    max-width: 100%;
}

.logo img {
    display: block;
    height: 48px;
    width: auto;
  }

  .burger {
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .burger span {
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 2px;
    transition: 0.3s;
  }
  
  /* animacja X */
  .burger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .burger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  /* menu */
  .mobile-menu {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  
  .mobile-menu.active {
    transform: translateX(0);
  }
  
  .mobile-menu a {
    font-size: 1.5rem;
    font-weight: 600;
  }
  