.offer-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2rem 1rem;
}

.offer-box-decript {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.5rem;
}
@media (min-width: 1024px) {
    .offers-link {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 24px
    }

    .offer-size {
        max-width: 400px;
    }
}
