.thank-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(7, 7, 7, 0.9);
}

.thank-content {
    display: flex;
    max-width: 90vw;
    max-height: 60vh;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    padding: 2rem;
    gap: 1rem;
    text-align: center;
}

