@use "variables" as v;

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Display";
  src: url("../assets/fonts/InterDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 17px;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: v.$font-body;
  color: v.$color-text;
  background: v.$color-bg;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1rem;
  line-height: 1.6;
}

h1 {
  font-family: v.$font-heading;
  font-size: clamp(1.6rem, 3vw, 2.5rem);
  font-weight: 900;
}

h2 {
  font-family: v.$font-heading;
  font-size: clamp(1.2rem, 3vw, 2rem);
  font-weight: 800;
}

h3 {
  font-family: v.$font-heading;
  font-size: clamp(1.1rem, 3vw, 1.5rem);
  font-weight: 700;
}

h4 {
  font-family: v.$font-heading;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  font-weight: 700;
}

p {
  font-family: v.$font-heading;
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  font-weight: 600;
}
