@use "variables" as v;

.glassmorph-art {
  border: 2px solid v.$color-border;
  border-radius: v.$radius-lg;
  background: v.$color-glass;
}

.glassmorph-bars {
  border: 2px solid v.$color-border;
  border-bottom: 1px solid v.$color-border;
  box-shadow: 0 0 10px rgba(61, 61, 61, 0.5);
  background: v.$color-glass-bars;
}

.glassmorph-cta {
  border-radius: 10px;
  border: 2px solid rgb(39, 39, 39);
  backdrop-filter: blur(10px);
}
