.glassmorph-art {
    border: 2px solid rgba(42, 42, 42, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.921);
}
.glassmorph-bars {
    border: 2px solid rgba(42, 42, 42, 0.5);
    border-bottom: 1px solid rgba(42, 42, 42, 0.5);
    box-shadow: 0 0 10px rgba(61, 61, 61, 0.5);
    background: rgba(0, 0, 0, 0.634);
}
.glassmorph-cta {
    border-radius: 10px;
    border: 2px solid rgb(39, 39, 39);
    backdrop-filter: blur(10px);
}