.hero-about-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 1.2rem 1rem;
    justify-items: center;
}

.hero-about-items p {
    text-align: center;
}

.hero-about-items li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 1rem 0;
    text-align: center;
    font-weight: bold;
}

.hero-about-items li img {
    width: 100px;
    height: auto;
}

.list-icon {
    list-style: none;
}