.home-welcome img {
    width: 100%;
    display: block;
}

.home-welcome {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.home-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.5rem;
    background: rgba(0, 0, 0, 0.781);
    color: white;
    backdrop-filter: blur(4px);
    line-height: 1.2;
}

.home-descrip {
    grid-template-columns: auto;
    padding: 1rem 2rem;
    gap: 10px;
    font-size: 1.2rem;
}

.home-descrip p {
    padding-bottom: 1rem;
    font-size: 1.3rem;
}