.home-welcome img {
    width: 100%;
    display: block;
}

.home-welcome {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.home-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.5rem;
    background: rgba(0, 0, 0, 0.781);
    color: white;
    backdrop-filter: blur(4px);
    line-height: 1.2;
}

.home-descrip {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.781);
    gap: 30px;
}

.hero-descrip {
    padding: 1rem 0;

}
.hero-descrip a {
    padding: 1rem;

}

.hero-descrip p {
    font-size: 1.3rem;
    line-height: 1.5;
}

.hero-descrip ul {
    font-size: 1.1rem;
}