.hero-offer {
    padding: 2rem 0;
}

.offer-layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(46, 46, 46, 0.5);
    border-radius: 5px;
    padding: 2rem 1rem;;
}

.offer-box {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.offer-box img {
    display: block;
    width: 100%;
}

.offer-box-decript {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.5rem;
    background: rgba(0, 0, 0, 0.781);
    color: white;
    backdrop-filter: blur(4px);
    line-height: 1.2;
}