.offer-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: rgba(26, 25, 25, 0.781);
    padding: 2rem 1rem;;
}

.offer-box-decript {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.5rem;
    background: rgba(0, 0, 0, 0.781);
    color: white;
    backdrop-filter: blur(4px);
}